<!-- Footer -->
<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 mx-auto"> <!-- lg-8 md-10 -->
        <p class="logo"><a href="/">SYSTRON Lab</a></p>
        <p>
          Based in the <a href="https://www.cs.york.ac.uk">Department of Computer Science</a><br>
          University of York, UK
        </p>
      </div>
      <div class="col-lg-4 col-md-3 mx-auto text-md-right"> <!-- lg-8 md-10 -->
        <ul class="list-unstyled">
          <li><a href="https://github.com/systronlab">SYSTRON Lab on GitHub</a></li>
          <li><a href="mailto:systron-group@york.ac.uk">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <p class="copyright text-muted">Copyright &copy; SYSTRON Lab {{ 'now' | date: "%Y" }} &middot; <a href="https://www.york.ac.uk/about/legal-statements/" target="_blank">Legal Statements</a></p>
  </div>
</footer>
