// Custom color variables

$systron-a0: #003A21;
$systron-a1: #277453;
$systron-a2: #0D5536;
$systron-a3: #002314;
$systron-a4: #000F09;
$systron-a: $systron-a0;

$systron-b0: #042036;
$systron-b1: #294F6D;
$systron-b2: #113450;
$systron-b3: #011321;
$systron-b4: #00080E;
$systron-b: $systron-b0;

$systron-c0: #224B00;
$systron-c1: #609732;
$systron-c2: #3B6E11;
$systron-c3: #142D00;
$systron-c4: #091400;
$systron-c: $systron-c0;

$systron-d0: #551800;
$systron-d1: #A95938;
$systron-d2: #7C3113;
$systron-d3: #330E00;
$systron-d4: #170600;
$systron-d: $systron-d0;

$primary: $systron-a;
$dark: $systron-a3;
$light: $systron-c1;
$secondary: $systron-a1;